#image {
    position: relative;
    top: 50%; left: 25%;
    display: inline-block;
}
#image:hover:after {
    content: attr(data-name);
    position: absolute;
    left: 0;
    bottom: 0px;
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 12px 0px;
    width: 100%;
    background: rgba(0, 0,0,0.6);
}
img {
    border: 2px solid white;
}
